.u-section-1 .u-sheet-1 {
  min-height: 246px;
}

.u-section-1 .u-text-1 {
  font-family: Comfortaa-Regular;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  margin: 109px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-2 .u-text-1 {
  font-family: Comfortaa-Regular;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  margin: 65px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 650px;
  width: 503px;
  margin: 39px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 29.33%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 31.41%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 73.96%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  font-family: "Open Sans", sans-serif;
  width: 730px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 12px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-family: Comfortaa-Regular;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 329px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 2.3126em;
}

.u-section-2 .u-text-4 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: -53px 329px 60px auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-btn-1 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 4px;
    margin-left: 132px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 3px;
    margin-left: 56px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-2 .u-gallery-1 {
    height: 500px;
    width: 340px;
  }

  .u-section-2 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-family: Roboto, sans-serif;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
    margin-left: 14px;
    padding-bottom: 1px;
    font-weight: normal;
  }

  .u-section-2 .u-text-4 {
    margin-top: -69px;
    margin-bottom: 58px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
    padding: 0;
  }
}
@font-face {
  font-family: "Comfortaa-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Comfortaa-Regular.ttf);
}

#this {
  background: linear-gradient(270deg, #3acae8, #bb7af3);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
